<% provide(:title, "Stores") %>
<h3>Game stores near <%= @stores[:place][:name] %></h3>

<ul>
	<% @stores[:stores].each do |store| %>
	 <li><%= store.name %> - <a href="<%= "http://maps.google.com/maps?&z=10&q=#{store.latitude},#{store.longitude}" %>">map</a></li>
	<% end %>
</ul>

